<section>
    <h2>Editar Artigo</h2>
    <form>
      <label>Título:<input type="text" name="title"></label>
      <label>Autor:<input type="text" name="author"></label>
      <label>Fonte:<input type="text" name="source"></label>
      <label>URL:<input type="url" name="url"></label>
      <label>Conteúdo:<textarea name="content"></textarea></label>
      <button type="submit">Salvar</button>
      <button type="reset">Limpar</button>
      <button type="button">Gerar Resumo</button>
    </form>
  </section>