.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #007bff;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 20px 20px;
  transition: 2s;
}

.botao-tema {
  width: 40px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.botao-tema::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #007bff;
  top: 1px;
  left: 1px;
  transition: 2s;
}

#toggle-tema:checked+.botao-tema::before {
  transform: translateX(20px);
  transition: 2s;
}

.icone-tema {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 16px;
  z-index: 0;
  transition: 2s;
}

.icone-tema.icone-sol { opacity: 1; }
.icone-tema.icone-lua { opacity: 0; }

#toggle-tema:checked + .botao-tema .icone-sol { opacity: 0;   transform: translateX(20px);
}
#toggle-tema:checked + .botao-tema .icone-lua { opacity: 1;   transform: translateX(20px);
}

.header-container .logo h1 {
  font-size: 3rem;
  margin: 0;
  font-weight: 1000;
}

.header-container .nav-menu {
  display: flex;
  gap: 2rem;
}

.header-container .nav-menu button {
  position: relative;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem 0;
  outline: none;
}

.header-container .nav-menu button::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 1px;
  width: 0%;
  background-color: #fff;
  transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
  transform: translateX(-50%);
}

.header-container .nav-menu button:hover::after,
.header-container .nav-menu button.active::after {
  width: 100%;
}

@media (max-width: 900px) {

  .header-container {
    flex-direction: column;
    gap: 1rem;
  }

  .header-container .nav-menu {
    flex-wrap: wrap;
    justify-content: center;
  }
}