.card-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: transparent;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo h2 {
    font-size: 40px;
    font-family: 'Ibarra Real Nova', serif;
}